.details {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;

        &--image{
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                max-width: 100vw;
            }
        }
        &--product{
            display: flex;
            flex-direction: column;
            align-items: center;

            
            
        }
        &--provider{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
}